yannscrapy/data/dd/CURRENT
yannscrapy/data/dd/LOCK
yannscrapy/data/dd/LOG
yannscrapy/data/dd/MANIFEST-000000
yannscrapy/data/target_user/000004.ldb
yannscrapy/data/target_user/000007.ldb
yannscrapy/data/target_user/000020.ldb
yannscrapy/data/target_user/000029.ldb
yannscrapy/data/target_user/000034.ldb
yannscrapy/data/target_user/CURRENT
yannscrapy/data/target_user/CURRENT.bak
yannscrapy/data/target_user/LOCK
yannscrapy/data/target_user/LOG
yannscrapy/data/target_user/MANIFEST-000036
yannscrapy/data/login_user/000002.ldb
yannscrapy/data/login_user/CURRENT
yannscrapy/data/login_user/CURRENT.bak
yannscrapy/data/login_user/LOCK
yannscrapy/data/login_user/LOG
yannscrapy/data/login_user/MANIFEST-000004
